{% extends "main.html" %}
{% block content %}

<main class="singleProject my-md">
    <div class="container">
        <div class="layout">
            <div class="column column--1of3">
                <h3 class="singleProject__subtitle">Qo'llanilgan</h3>
                <div class="singleProject__toolStack">
                    {% for tag in project.tag.all %}
                    <span class="tag tag--pill tag--sub tag--lg">
                        <small>{{tag}}</small>
                    </span>
                    {% endfor %}

                </div>
                <a class="singleProject__liveLink" href="#" target="_blank"><i class="im im-external-link"></i>Source Code</a>
            </div>

            <div class="column column--2of3">
                <img class="singleProject__preview" src="{{project.image.url}}" alt="portfolio thumbnail" />
                <a href="{% url 'profile' project.user.id %}" class="singleProject__developer">Loyihachi {{ project.user | upper }} </a>
                <h2 class="singleProject__title">{{project.title}}</h2>
                <h3 class="singleProject__subtitle">Loyiha haqida</h3>
                <div class="singleProject__info">
                    {{project.description}}
                </div>

                <div class="comments">
                    <h3 class="singleProject__subtitle">Baholar</h3>
                    <h5 class="project--rating">
                        {{project.vote_ratio}}% Ijobiy baho ({{project.vote_count}} Ovoz)
                    </h5>
                   <form class="form" action="{% url 'add_comment' %}" method="POST">
                   {% csrf_token %}
                        <!-- Matn maydoni -->
                        <div class="form__field">
                            <label for="formInput#textarea">Izohlar: </label>
                            <textarea class="input input--textarea" name="message" id="formInput#textarea" placeholder="Izohlarni bu yerga yozing..."></textarea>
                        </div>
                        <!-- Proyekt ID -->
                        <input type="hidden" name="id" value="{{ project.id }}">
                        <input class="btn btn--sub btn--lg" type="submit" value="Saqlash" />
                   </form>

                    <div class="commentList">
                        {% for comment in user_comments %}
                        <div class="comment">
                            <a href="{% url 'profile' comment.user.id %}">
                                <img class="avatar avatar--md" src="{{ comment.user.image.url }}" alt="user" />
                            </a>
                            <div class="comment__details"><a href="{% url 'profile' comment.user.id %}" class="comment__author">{{ comment.user.username }}</a>
                                <p class="comment__info">{{ comment.message }}</p>
                            </div>
                        </div>
                        {% endfor %}
                    </div>

                </div>
            </div>
        </div>
    </div>
</main>

{% endblock %}
