{% extends "main.html" %}



{% block content %}


<main class="projects">
    <section class="hero-section text-center">
        <div class="container container--narrow">
            <div class="hero-section__box">
                <h2> <span>Loyihalarni</span> qidiring</h2>
            </div>

            <div class="hero-section__search">
                <form class="form" action="#" method="get">
                    <div class="form__field">
                        <label for="formInput#search">Loyihalarni qidir </label>
                        <input class="input input--text" id="formInput#search" type="text" name="text"
                            placeholder="Loyiha nomi bilan qidiring" />
                    </div>

                    <input class="btn btn--sub btn--lg" type="submit" value="Qidiruv" />
                </form>
            </div>
        </div>
    </section>
    <!-- Search Result: DevList -->
    <section class="projectsList">
        <div class="container">
            <div class="grid grid--three">
                {% for project in projects %}
                <div class="column">
                    <div class="card project">
                        <a href="{% url 'project' project.id %}" class="project">
                            <img class="project__thumbnail" src="{{project.image.url}}" alt="project thumbnail" />
                            <div class="card__body">
                                <h3 class="project__title">{{project.title}}</h3>
                                <p><a class="project__author" href="profile.html">{{ project.user }}</a></p>
                                <p class="project--rating">
                                    <span style="font-weight: bold;">{{project.vote_ratio}}%</span>
                                    ({{project.vote_count}} Ovoz)
                                </p>
                                <div class="project__tags">
                                    {% for tag in project.tag.all %}
                                    <span class="tag tag--pill tag--main">
                                        <small>{{tag}}</small>
                                    </span>
                                    {% endfor %}
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
<div class="pagination">
    <ul class="container">
        {% if projects.has_previous %}
            <li><a href="?page={{ projects.number|add:-1 }}" class="btn">&#10094; Orqaga</a></li>
        {% endif %}
        {% if 1 not in projects.paginator.page_range %}
        <li><a class="btn " href="?page={{ page_num }}">1</a></li>
            {% if 2 not in projects.paginator.page_range %}
                <li><span class="btn">...</span></li>
            {% endif %}
        {% endif %}
        {% for num in projects.paginator.page_range %}
            <li><a href="?page={{ num }}" class="btn{% if projects.number == num %} btn--sub{% endif %}">{{ num }}</a></li>
        {% endfor %}
        {% if max_pages not in projects.paginator.page_range %}
            {% if max_pages|add:'-1' not in projects.paginator.page_range %}
                <li><span class="btn">...</span></li>
            {% endif %}
            <li><a href="?page={{ max_pages }}" class="btn">{{ max_pages }}</a></li>
        {% endif %}
        {% if projects.has_next %}
            <li><a href="?page={{ projects.number|add:1 }}" class="btn">&#10095; Oldinga</a></li>
        {% endif %}
    </ul>
</div>

</main>
{% endblock %}